
.cart-card,
.checkout-card {
  color: black !important;
  border: 0.2rem solid #39545a;
  max-width: 15rem;
  max-height: 20rem;
  box-shadow: 3px 5px black;
  font-weight: 900;
  transition: transform 0.2s;
  min-width: 15rem;
  flex-direction: column;
  justify-content: center;
}

.cart-pic-frame {
  min-height: 4rem;
  min-width: 4rem;
  align-items: center;
}

.cart-card img {
  display: flex;
  justify-self: center;
  margin: 0 auto;
}

.cart-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cart-card:hover {
  border: none;
  transform: scale(1.1);
  box-shadow: 9px 15px black;
}

.cart-card img {
  width: 30%;
}

.cart-title {
  font-weight: 700;
  color: black !important;
  font-size: 15px;
}

.salesTax {
  font-weight: 600;
  font-size: 12px;
  color: black !important;
}

.cart-footer {
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 0;
  left: 0;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.remove {
  display: flex;
  font-size: 12px;
  /* border: 3px solid green; */
  color: black !important ;
  justify-content: center;
}
.fa-window-close {
  color: red;
  margin-left: 5px;
  margin-top: 4px;
}

.fa-window-close:hover {
  transform: scale(1.5);
}

.checkout-card {
  background-image: url("../media/Screenshot_20221202_062142.png");
}

.checkout {
  background-color: red !important;
}

.price {
  background-color: green !important;
}

.checkout-footer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


 
 
  
  
   
  
  