.checkout-page {
    flex-direction: column;
    display: flex;
}

.credit-box {
    background-color: white;
    opacity: 0.9;
    border: 5px solid  #39545a;
    margin: 0 auto;
}

.form-control {
    border: 3px solid black !important;
}

.text {
    font-weight: 900;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.total-check {
    width: 20%;
    border: 4px solid #39545a;
    border-radius: 4px;
    margin: 0 auto;
}


.credit-btn {
    background-color: #39545a !important;
    color: white !important;
    margin: 0 auto;
}

.checkout-back {
    height: 10px;
    color: #39545a;
}

.subPay {
    font-size: 10px;
    padding: 5px;
}

.credit-btn:hover {
    transform: scale(1.1);
    background-color: ;
}

