.checkout-page {
    flex-direction: column;
    display: flex;
}


.credit-btn {
    background-color: #39545a !important;
    color: white !important;
    margin: 0 auto;
}

.credit-btn:hover {
    transform: scale(1.25);
}

